# 01-list and it's default functions:

In [2]:
l=[5,6.35,"python",False]
l

[5, 6.35, 'python', False]

l[1]=66  #changing  the element of index(1) 
l

In [4]:
l.pop() #poping the last element
l

[5, 66, 'python']

In [5]:
l.append("Hello")  #Adding a new element
print(l)

[5, 66, 'python', 'Hello']

In [8]:
l.reverse()     #reversing the element of a List
l

['Hello', 'python', 66, 5]

In [13]:
s=["Apple","Banana","Mango"]
s.sort()
s

['Apple', 'Banana', 'Mango']

In [14]:
s1=["KGF","Bahubali","Sadak2"]    #sorting a list that means ordering a list
s1.sort()
s1

['Bahubali', 'KGF', 'Sadak2']

In [17]:
lst=[12,25.65,"Hello",True]       #inserting a element at a speific location
lst.insert(1,"Assignment")
lst

[12, 'Assignment', 25.65, 'Hello', True]

In [18]:
lst.clear()     # clear is used to clear all the data
lst

[]

In [19]:
lt1=[25.89,"google",52]  #it just copy hole thing 
lt1.copy()
lt1

[25.89, 'google', 52]

In [23]:
x=lt1.count(52)    #its counting the index value
x

1

In [24]:
lt1.remove('google')   #it removes a specified element
lt1

[25.89, 52]

In [27]:
lt2=["Graps","Banana","Orange"]   #adding a specified list to currnt list
lt3=[20,35,66]
lt2.extend(lt3)
lt2

['Graps', 'Banana', 'Orange', 20, 35, 66]

#  02-Dictionary and it's default functions:

In [28]:
d1={"Banana":35,"Apple":50,"Orange":65}
d1

{'Banana': 35, 'Apple': 50, 'Orange': 65}

In [32]:
D=d1.keys()     #To get only keys this function is use
print(D)

dict_keys(['Banana', 'Apple', 'Orange'])

In [34]:
d=d1.items()     #To get items that means both and values this function is use
d

dict_items([('Banana', 35), ('Apple', 50), ('Orange', 65)])

In [35]:
d=d1.values()    #To get only values this function is use
d

dict_values([35, 50, 65])

In [36]:
d1['Apple']=100    #changing the value of existing element
d1

{'Banana': 35, 'Apple': 100, 'Orange': 65}

In [37]:
d1.update({"Mango":45})   #Adding new item to dict
d1

{'Banana': 35, 'Apple': 100, 'Orange': 65, 'Mango': 45}

In [42]:
d1.pop('Apple')      #poping the specified element
d1

{'Banana': 35, 'Orange': 65, 'Mango': 45}

In [45]:
d1.popitem()      #poping the last item in a list
d1

{'Banana': 35, 'Orange': 65}

In [47]:
s=d1.get('Banana')   #getting the value of specified item
s

35

In [49]:
s1=d1.clear()   #clear is used for clear all the data
print(s1)

None

In [52]:
d={
    "student name":"Raju",
    "marks":300,
    "Percentage":65.25,
    "Rank":25
}
d.copy()       #copy the hole dict as it is
d

{'student name': 'Raju', 'marks': 300, 'Percentage': 65.25, 'Rank': 25}

In [55]:
d1=("key0","key1","key2")
d2=0
p=dict.fromkeys(d1,d2)     #coomon key value to all items
p

{'key0': 0, 'key1': 0, 'key2': 0}

In [63]:
s=d.setdefault("student name")   #It returns the value of the item with the specified key.
s

'Raju'

# 03-Tuple and its default functions:

In [64]:
t1=(1,'hello',25.36,True)  #immutable that we can't change
t1

(1, 'hello', 25.36, True)

In [67]:
x=t1.count('hello')
x

1

In [88]:
t=(1,25,65,265)
max(t)

265

In [89]:
min(t)

1

In [90]:
len(t)

4

In [96]:
c=t.index(65)
c

2

# 04- String and its  default functions:

In [102]:
s="let's upgrade"
x=s.capitalize()
x

"Let's upgrade"

In [104]:
txt = "Hello, And Welcome Python"

x = txt.casefold()

print(x)

hello, and welcome python

In [108]:
l=txt.split(',')
l

['Hello', ' And Welcome Python']

In [2]:
a = "Hello"
b = " World"
c = a + b
print(c)

Hello World

In [3]:
age = 36
txt = "My name is John, and I am {}"
print(txt.format(age))

My name is John, and I am 36

In [4]:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want to pay {2} dollars for {0} pieces of item {1}."
print(myorder.format(quantity, itemno, price))

I want to pay 49.95 dollars for 3 pieces of item 567.

In [25]:
txt = "Thank you for the music\nWelcome to the jungle"

x = txt.splitlines()

print(x)

['Thank you for the music', 'Welcome to the jungle']

In [27]:
myTuple = ("John", "Peter", "Vicky")

x = "#".join(myTuple)

print(x)

John#Peter#Vicky

In [28]:
txt = "I like bananas"

x = txt.replace("bananas", "apples")

print(x)

I like apples

In [29]:
txt = "Hello, welcome to my world."

x = txt.index("welcome")

print(x)

7

# 05- Set and its default functions:

In [6]:
t = {"apple", "banana", "cherry"}
print(t)

{'cherry', 'banana', 'apple'}

In [7]:
t.add("mango")
t

{'apple', 'banana', 'cherry', 'mango'}

In [8]:
t.copy()
t

{'apple', 'banana', 'cherry', 'mango'}

In [9]:
t.clear()
t

set()

In [10]:
x={"banana","orange","apple"}
y={"google", "microsoft", "apple"}
z=x.difference(y)
print(z)

{'orange', 'banana'}

In [11]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.difference_update(y)

print(x)

{'cherry', 'banana'}

In [13]:
t={"hello","world"}
t.pop()
t

{'world'}

In [14]:
t1={'apple', 'banana', 'cherry', 'mango'}
t1.discard("banana")
t1

{'apple', 'cherry', 'mango'}

In [15]:
t1.remove('mango')
t1

{'apple', 'cherry'}

In [16]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.union(y)

print(z)

{'google', 'banana', 'apple', 'cherry', 'microsoft'}

In [17]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.update(y)

print(x)

{'google', 'banana', 'apple', 'cherry', 'microsoft'}

In [18]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.intersection(y)

print(z)

{'apple'}

In [19]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.intersection_update(y)

print(x)

{'apple'}

In [20]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "facebook"}

z = x.isdisjoint(y)

print(z)

True

In [21]:
x = {"a", "b", "c"}
y = {"f", "e", "d", "c", "b", "a"}

z = x.issubset(y)

print(z)

True

In [22]:
x = {"f", "e", "d", "c", "b", "a"}
y = {"a", "b", "c"}

z = x.issuperset(y)

print(z)

True

In [23]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.symmetric_difference(y)

print(z)

{'google', 'cherry', 'banana', 'microsoft'}

In [24]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.symmetric_difference_update(y)

print(x)

{'google', 'cherry', 'banana', 'microsoft'}